@model InformationAndTechnologyCollege.Models.NewStoryModel

@{
    ViewBag.Title = "Index";
}

<body>
    <div>
        <h1>@Model.Headline</h1>

        <h2>@Model.ByLine</h2>

        <p>@Model.Content</p>
    </div>
</body>
